In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import sklearn as skl
import tensorflow as tf

In [47]:
df = pd.read_csv("Data/carsAvgPrice.csv")
df.head()

   Unnamed: 0  Brand Model  Year Status   Mileage  Age  AveragePrice
0           0  Acura   ILX  2013   Used   86557.0   11       13900.0
1           1  Acura   ILX  2014   Used  148266.0   10       10996.0
2           2  Acura   ILX  2015   Used   77223.0    9       13650.0
3           3  Acura   ILX  2016   Used   56546.0    8       16900.0
4           4  Acura   ILX  2016   Used   72301.0    8       16999.0

In [48]:
df = df.drop(columns='Unnamed: 0')
df.head()

   Brand Model  Year Status   Mileage  Age  AveragePrice
0  Acura   ILX  2013   Used   86557.0   11       13900.0
1  Acura   ILX  2014   Used  148266.0   10       10996.0
2  Acura   ILX  2015   Used   77223.0    9       13650.0
3  Acura   ILX  2016   Used   56546.0    8       16900.0
4  Acura   ILX  2016   Used   72301.0    8       16999.0

In [50]:
brandCount = df["Brand"].value_counts()
brandCount[brandCount<1000]

Brand
Subaru                 982
Volvo                  916
Tesla                  881
Lincoln                867
Infiniti               817
RAM                    775
Genesis                516
Jaguar                 331
Buick                  324
Chrysler               307
Mitsubishi             279
Maserati               191
MINI                   181
Alfa Romeo             149
Bentley                119
Pontiac                105
Ferrari                 93
Lamborghini             85
FIAT                    77
Rolls-Royce             64
Aston Martin            61
Scion                   52
Hummer                  47
Polestar                45
McLaren                 40
Rivian                  32
Saturn                  30
Mercury                 18
Lucid                   13
Saab                    13
Lotus                   11
Smart                    8
Suzuki                   6
Karma                    6
Plymouth                 4
Oldsmobile               3
International Scout      1
Bugatti                  1
Eagle                    1
Geo                      1
Isuzu                    1
Maybach                  1
Name: count, dtype: int64

In [51]:
brands_to_replace = list(brandCount[brandCount<1000].index)

for brand in brands_to_replace:
    df['Brand'] = df['Brand'].replace(brand,"Other")

df["Brand"].value_counts()

Brand
Other         8454
Toyota        6461
Ford          6124
Chevrolet     4546
BMW           3506
Lexus         3061
Honda         2665
Mercedes      2606
Audi          2385
Jeep          2054
GMC           1949
Porsche       1691
Nissan        1578
Cadillac      1342
Kia           1273
Volkswagen    1212
Mazda         1208
Acura         1187
Dodge         1091
Hyundai       1077
Land Rover    1057
Name: count, dtype: int64

In [52]:
modelCount = df["Model"].value_counts()
modelCount[modelCount<500]

Model
Camaro      485
MDX         469
ES          437
Bronco      434
CR-V        432
           ...
Type 57       1
G8            1
Equator       1
Veracruz      1
Aura          1
Name: count, Length: 616, dtype: int64

In [53]:
models_to_replace = list(modelCount[modelCount<500].index)

for model in models_to_replace:
    df['Model'] = df['Model'].replace(model,"Other")

df["Model"].value_counts()

Model
Other             37212
F-150              1796
Corvette            954
4Runner             940
Tundra              932
Mustang             871
Wrangler            807
Yukon               801
Silverado           798
RX                  774
Tacoma              773
Sierra              760
Grand Cherokee      744
Tahoe               720
Range Rover         714
Highlander          694
F-250               653
RAV4                650
Expedition          582
1500                569
Camry               557
X5                  555
911                 555
Accord              554
Escalade            533
GX                  517
Civic               512
Name: count, dtype: int64

In [54]:
df_dummy = pd.get_dummies(df,dtype=int)
df_dummy.head()

,Year,Mileage,Age,AveragePrice,Brand_Acura,Brand_Audi,Brand_BMW,Brand_Cadillac,Brand_Chevrolet,Brand_Dodge,...,Model_Silverado,Model_Tacoma,Model_Tahoe,Model_Tundra,Model_Wrangler,Model_X5,Model_Yukon,Status_Certified,Status_New,Status_Used
0,2013,86557.0,11,13900.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2014,148266.0,10,10996.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2015,77223.0,9,13650.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2016,56546.0,8,16900.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2016,72301.0,8,16999.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [58]:
y = df_dummy['AveragePrice']
X = df_dummy.drop(columns=['AveragePrice','Year'])

In [59]:
y

0        13900.000000
1        10996.000000
2        13650.000000
3        16900.000000
4        16999.000000
             ...
56522    52000.000000
56523    52990.000000
56524    68995.000000
56525    51995.000000
56526    71733.838384
Name: AveragePrice, Length: 56527, dtype: float64

In [60]:
X

,Mileage,Age,Brand_Acura,Brand_Audi,Brand_BMW,Brand_Cadillac,Brand_Chevrolet,Brand_Dodge,Brand_Ford,Brand_GMC,...,Model_Silverado,Model_Tacoma,Model_Tahoe,Model_Tundra,Model_Wrangler,Model_X5,Model_Yukon,Status_Certified,Status_New,Status_Used
0,86557.0,11,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,148266.0,10,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,77223.0,9,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,56546.0,8,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,72301.0,8,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56522,9623.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
56523,10141.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
56524,10620.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
56525,14346.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
56526,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=13)

In [62]:
scaler = StandardScaler()

In [64]:
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [74]:
len(X_train_scaled[0])

53

In [66]:
num_input_features = len(X_train_scaled[0])
hidden_node1 = num_input_features*2
hidden_node2 = hidden_node1
hidden_node3 = round(hidden_node2/2)
nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=hidden_node1,activation='relu',input_dim=num_input_features))
nn.add(tf.keras.layers.Dense(units=hidden_node2,activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_node3,activation='sigmoid'))
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
nn.summary()

c:\Users\kylec\anaconda3\envs\dev\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 106)            │         5,724 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 106)            │        11,342 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 53)             │         5,671 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            54 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 22,791 (89.03 KB)

 Trainable params: 22,791 (89.03 KB)

 Non-trainable params: 0 (0.00 B)

In [72]:
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [73]:
fit_nn = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
1325/1325 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.0000e+00 - loss: -79883616.0000
Epoch 2/100
1325/1325 ━━━━━━━━━━━━━━━━━━━━ 1s 910us/step - accuracy: 0.0000e+00 - loss: -81582840.0000
Epoch 3/100
 380/1325 ━━━━━━━━━━━━━━━━━━━━ 0s 896us/step - accuracy: 0.0000e+00 - loss: -83039064.0000

KeyboardInterrupt:

In [69]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

442/442 - 0s - 947us/step - accuracy: 0.0000e+00 - loss: -7.2659e+07
Loss: -72659000.0, Accuracy: 0.0